<br> <br>
<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                
              <div class="col-lg-6 d-none d-lg-block bg-login-image">
                <br><br><br><br> <br>
                  <img src="../../../assets/assets/img/undraw_posting_photo.svg" class="img-fluid animated" alt="">
                  <!--<h5 style="margin-left: 2rem;margin-top: 3rem;">Kindly Login in to work on your Task..... Thank You</h5> -->
                </div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                  </div>
                  <form class="user" #userForm="ngForm">
                    <div class="form-group">
                      <input type="email" required class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" #email="ngModel" placeholder="Enter Email Address..." [(ngModel)] = user.email name = 'email'>
                    </div>
                    <div *ngIf="email.invalid && email.touched" style="color:rgb(251, 125, 108); margin-bottom:1em; margin-top:-1.0em; margin-left:40%;">Email Field is required!!</div>
                    <div class="form-group">
                      <input type="password" required class="form-control form-control-user" id="exampleInputPassword" #password="ngModel" placeholder="Password" [(ngModel)] = user.password name='password'>
                    </div>
                    <div *ngIf="password.invalid && password.touched"   style="color:rgb(251, 125, 108); margin-bottom:1em; margin-top:-1.0em; margin-left:40%; ">Password Field is required!!</div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                      </div>
                    </div>
                    <a class="btn btn-primary btn-user btn-block" (click)="loginUser(user)">
                      Login
                    </a>
                    <br>
                  </form>
                  <br>
                  <div class="text-center">
                    <a class="small">Forgot Password?</a>
                  </div>
                  <div>{{loginMessage}} {{tokenMessage}} </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>