<div class=row>
  <div class="col-xl-12 col-lg-12" >
  <!-- Dropdown Card Example -->
    <div *ngFor= "let task of tasks; index as i"  >
      <div *ngIf="i===0">
        Completed Task(s)
        <hr class="sidebar-divider d-none d-md-block">
      </div>
      
      <div *ngIf="task.ts.completed === true">
        
        
        <div class="card shadow mb-4" >
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between"  >
            <a [routerLink]="['/dashboard', task.id]" ><h5 class="m-0 font-weight-bold text-primary">{{i}}.  {{task.title}}</h5></a>
            <div class="dropdown no-arrow" >
              <a    [routerLink]="['/dashboard/edit', task.id]" class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-edit fa-fw text-gray-700"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div> 
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <!-- Card Body -->
          <div class="card-body" [class.selectView] = "task.id === selectedId" >
            {{task.description}}
          </div>
  
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">starts: {{task.creationDate | date :('mediumDate')}} | CompletesBy: 
                                                      <small *ngIf="task.finishDate; else unFinish" style="color:green;">
                                                      {{task.finishDate | date: ('mediumDate')}}
                                                      </small>
                                                      <ng-template #unFinish ><small style="color:red; font-size: 0.6em;">Not Yet</small> </ng-template>
                                                      </h6>
            <div *ngIf="task.ts.completed === true; else elseForm">
              <a class="border-left-success btn-lg btn-health btn-circlee"><i class="fas fa-belll " style="color:green;" ></i></a>
            </div>
  
            <ng-template #elseForm>
              <a class="border-left-danger btn-lg btn-health btn-circlee"><i class="fas fa-bell-slashh " style="color:red; font-size: 0.6em;" ></i></a>
          </ng-template>
            
          </div>
        </div>
      </div>
    </div>


    <div *ngFor= "let uncompletedTask of tasks; index as k"  >
      <div *ngIf="k===0">
        UnCompleted Task(s)

        <hr class="sidebar-divider d-none d-md-block">
      </div>
      
      <div *ngIf="uncompletedTask.ts.completed === false">
        
        
        <div class="card shadow mb-4" >
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between"  >
            <a [routerLink]="['/dashboard', uncompletedTask.id]" ><h5 class="m-0 font-weight-bold text-primary">{{k+1}}. {{uncompletedTask.title}}</h5></a>
            <div class="dropdown no-arrow">
              <a [routerLink]="['/dashboard/edit', uncompletedTask.id]" class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-edit fa-fw text-gray-700"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div> 
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <!-- Card Body -->
          <div class="card-body" [class.selectView] = "uncompletedTask.id === selectedId" >
            {{uncompletedTask.description}}
          </div>
  
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">start Task: {{uncompletedTask.creationDate | date :('mediumDate')}} | Complete Task: 
                                                <small *ngIf="uncompletedTask.finishDate; else unFinish" style="color:green;">
                                                  {{uncompletedTask.finishDate | date: ('mediumDate')}}
                                                </small>
                                                <ng-template #unFinish ><small style="color:red;">Not Yet</small> </ng-template>
                                              </h6>
            <div *ngIf="uncompletedTask.ts.completed === true; else elseForm">
              <a class="border-left-success btn-lg btn-health btn-circlee"><i class="fas fa-belll " style="color:green;" ></i></a>
            </div>
  
            <ng-template #elseForm>
              <a class="border-left-danger btn-lg btn-health btn-circlee"><i class="fas fa-bell-slashh " style="color:red;" ></i></a>
          </ng-template>
            
          </div>
        </div>
      </div>
    </div>

  






  
      </div>
                
</div>
