<div class="container">
    <!-- Nested Row within Card Body -->
    <div class="row">
        <div class="col-lg-10">
            <div>
                <div class="text-center col-lg-10" >
                    <i class="fas fa-user fa-5x text-gray-800 "></i><h3 class="h4 text-gray-500 mb-4 "> Add Member </h3>
                </div>
                <form class="user" #userForm="ngForm">
                    <div class="form-group row">

                        <div class="col-sm-6 mb-3 mb-sm-0 col-lg-5">
                            <div *ngIf="f_name.invalid && f_name.touched"   style="color:rgb(251, 125, 108); ">First Name Field is required!!</div>
                            <input required type="text" class="form-control form-control-user border-left-success" #f_name="ngModel" 
                                        id="f_name" placeholder="First Name" name="f_name" [(ngModel)]="user.f_name">
                        </div>

                        <div class="col-sm-4">
                            <div *ngIf="l_name.invalid && l_name.touched"   style="color:rgb(251, 125, 108);">Last Name Field is required!!</div>
                            <input required type="text" class="form-control form-control-user border-left-success "  #l_name="ngModel"
                        id="l_name" placeholder="Last Name" name="l_name" [(ngModel)]="user.l_name">
                        </div>
                    </div>                    
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0 col-lg-5">
                            <div *ngIf="m_name.invalid && m_name.touched"   style="color:rgb(251, 125, 108);">Middle Name Field is required!!</div>
                            <input required type="text" class="form-control form-control-user border-left-success" #m_name="ngModel"
                                        id="m_name" placeholder="Middle Name" name="m_name"[(ngModel)]="user.m_name">
                        </div>

                        <div class="col-sm-4">
                            <div *ngIf="username.invalid && username.touched"   style="color:rgb(251, 125, 108);">Password Field is required!!</div>

                            <input required type="text" class="form-control form-control-user border-left-success" #username="ngModel" 
                                        id="username" placeholder="UserName" name="username" [(ngModel)]="user.username">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-lg-5" >
                            <div *ngIf=" email.touched && email.errors?.email"   style="color:rgb(251, 125, 108);">Email Field is Invalid!!</div>
                            <div *ngIf="email.invalid && email.touched && email.pristine"   style="color:rgb(251, 125, 108);">Email Field is required!!</div>
                            <input required  type="email" class="form-control form-control-user border-left-success" #email="ngModel" email
                                                                id="email" placeholder="Email Address" name="email" [(ngModel)]="user.email">
                        </div>

                        <div class="form-group col-lg-4" >
                            <select [(ngModel)] = "user.role" class="form-control border-left-success" id="role" placeholder="role" name="role" >
                                <option class="form-control form-control-user" > What role ?</option>

                                    <option class=" form-group form-control-user" 
                                            *ngFor="let rol of role" [ngValue]="rol" >{{rol?.rolename}}</option>       
                            </select>
                        </div>
                        <p>{{user | json }}</p>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-6 mb-3 mb-sm-0 col-lg-5">
                            <div *ngIf="password.invalid && password.touched"   style="color:rgb(251, 125, 108);">Password Field is required!!</div>
                            <input required type="password" class="form-control form-control-user border-left-success" 
                                                id="exampleInputPassword" placeholder="Password" name="confirmPassword">
                        </div>
                        <div class="col-sm-6 col-lg-4">
                            <div *ngIf="password.invalid && password.touched"   style="color:rgb(251, 125, 108);">Password Field is required!!</div>
                            <input required type="password" class="form-control form-control-user  border-left-danger" #password="ngModel"
                                        id="exampleRepeatPassword" placeholder="Repeat Password" name="password" [(ngModel)]="user.password">
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <a type="button" class="btn btn-primary btn-user btn-block col-lg-3 bx-pull-right" (click)="registration(user, userForm)">
                            <i class="fas fa-arrow-right fa-2x"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>