<div>
    <!-- Nested Row within Card Body -->
    <div class="row">
        <div class="col-lg-9" >
                <div class="text-center col-lg-10">
                    <i class="fas fa-tasks fa-5x text-gray-800 "></i><h3 class="h4 text-gray-500 mb-4 "> Create New Task </h3>
                </div>
                <form class="user row" #userForm="ngForm" >
                    <div class="form-group">
                        <div class="col-sm-6 mb-3 mb-sm-0 col-lg-12 col-xl-12">
                            <input type="text" class="form-control form-control-user border-left-success" 
                                        id="title" placeholder="Title" name="title" [(ngModel)]="task.title">
                        </div>
                    </div>

                    <div class="form-group row col-lg-12">
                        <div class="form-group col-lg-12 col-xl-12" >
                            <textarea type="text" class="form-control border-left-success blue-border-focus " 
                            rows=10 columns=4 placeholder="Input New Task...." id="description" name="description" [(ngModel)]="task.description"></textarea>
                        </div>
                    </div>
                    
                    
                <!-- <div class="form-group ">
                        <div class="form-group col-lg-10 ">
                            <select class="form-control border-left-success  " id="exampleInputRole" placeholder="role" [(ngModel)]="task.id">
                                <option class="form-control form-control-user " > Assigned To ?</option>
                                <option class=" form-group form-control-user" *ngFor="let user of allUser" [ngValue]= "user">{{user.f_name.toUpperCase()}} {{user.l_name}}</option>
                            </select>
                        </div>
                    </div>-->
                    <div class="col-lg-3">
                        <a class="btn btn-primary btn-user btn-block " (click)="createTask(task, userForm)">
                            <i class="fas fa-arrow-right fa-2x"></i>
                        </a>
                    </div>
                </form>
        </div>
        <div class="col-lg-3" style="border-left:1px solid rgb(209, 208, 208); margin-bottom:-10%">{{task | json }}</div>
    </div>
  </div>