<div class="row">
  <div class="col-xl-12 col-lg-12">
    <!-- Dropdown Card Example -->

    <div *ngFor="let user of userIdTask; index as i">
      <div *ngIf="user.task.ts.completed === false">
        <div *ngIf="i === 0">
          Uncompleted Task(s)
          <hr class="sidebar-divider d-none d-md-block" />
        </div>
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <a [routerLink]="['/dashboard/user/task', user.task.id]"
              ><h5 class="m-0 font-weight-bold text-primary">
                {{ i + 1 }}. {{ user.task.title }}
              </h5></a
            >
            <div class="dropdown no-arrow" *ngIf="IsAdmin">
              <a
                [routerLink]="['/dashboard/edit', user.id]"
                class="dropdown-toggle"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fas fa-user-edit fa-fw text-gray-700"></i>
              </a>
              <div
                class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                aria-labelledby="dropdownMenuLink"
              >
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            {{ user.task.description }}
          </div>
          <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
          >
            <h6 class="m-0 font-weight-bold text-primary">
              start Task: {{ user.task.creationDate | date: "mediumDate" }} |
              complete Task:
              <small
                *ngIf="user.task.finishDate; else unFinish"
                style="color: green"
              >
                {{ user.task.finishDate | date: "mediumDate" }}
              </small>
              <ng-template #unFinish
                ><small style="color: red; font-size: 0.8em">Not Yet</small>
              </ng-template>
            </h6>
            <div *ngIf="user.task.ts.completed === true; else elseForm">
              <a class="border-left-success btn-lg btn-health btn-circlee"
                ><i
                  class="fas fa-belll"
                  style="color: green; font-size: 0.8em"
                ></i
              ></a>
            </div>
            <ng-template #elseForm>
              <a class="border-left-danger btn-lg btn-health btn-circlee"
                ><i class="fas fa-bell-slashh" style="color: red"></i
              ></a>
            </ng-template>
          </div>
        </div>
      </div>
    </div>

    <div *ngFor="let uncompletedUser of userIdTask; index as j">
      <div *ngIf="uncompletedUser.task.ts.completed === true">
        <div *ngIf="j === 0">
          Completed Task(s)
          <hr class="sidebar-divider d-none d-md-block" />
        </div>
        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
          >
            <a [routerLink]="['/dashboard/user/task', uncompletedUser.task.id]"
              ><h5 class="m-0 font-weight-bold text-primary">
                {{ j + 1 }}. {{ uncompletedUser.task.title }}
              </h5></a
            >
            <div class="dropdown no-arrow" *ngIf="IsAdmin">
              <a
                [routerLink]="['/dashboard/edit', uncompletedUser.id]"
                class="dropdown-toggle"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fas fa-user-edit fa-fw text-gray-700"></i>
              </a>
              <div
                class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                aria-labelledby="dropdownMenuLink"
              >
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            {{ uncompletedUser.task.description }}
          </div>
          <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
          >
            <h6 class="m-0 font-weight-bold text-primary">
              start Task:
              {{ uncompletedUser.task.creationDate | date: "mediumDate" }} |
              complete Task:
              <small
                *ngIf="uncompletedUser.task.finishDate; else unFinish"
                style="color: green"
              >
                {{ uncompletedUser.task.finishDate | date: "mediumDate" }}
              </small>
              <ng-template #unFinish
                ><small style="color: red; font-size: 1em">Not Yet</small>
              </ng-template>
            </h6>
            <div
              *ngIf="uncompletedUser.task.ts.completed === true; else elseForm"
            >
              <a class="border-left-success btn-lg btn-health btn-circlee"
                ><i
                  class="fas fa-belll"
                  style="color: green; font-size: 1em"
                ></i
              ></a>
            </div>
            <ng-template #elseForm>
              <a class="border-left-danger btn-lg btn-health btn-circlee"
                ><i class="fas fa-bell-slashh" style="color: red"></i
              ></a>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
